.header {
  padding: 80px;
  text-align: center;
  background-image: url(https://previews.123rf.com/images/nirvanaa/nirvanaa1806/nirvanaa180600081/105833871-chamomile-on-a-light-purple-pastel-background-pattern-seamless-vector-.jpg);
}

.header h1 {
  color: indigo;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.header p {
  color: indigo;
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #9365BD;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar a:hover {
  background-color: #E5DDF5;
  color: black;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  height:175px;
  width:270px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: lavender;
  overflow: hidden;
  width: 270px;
  height:0;
  transition: .5s ease;
  opacity: 80%;

}

.container:hover .overlay {
  bottom: 0;
  height: 175px;
  opacity: 80%;
}

.text {
  color: indigo;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #F9F5FD;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.myimg{
  height:175px;
  width:270px;
}

.iuimg {
  height:375px;
  width:670px;
}

.content{
  font-family: 'Raleway', sans-serif;
}

.footer{
  font-family: 'Raleway', sans-serif;
}
